---
import BaseLayout from '../layouts/BaseLayout.astro';
import BimodalNetwork4 from '../components/bimodalNetwork/BimodalNetwork4.astro';
import nodesData from '../data/bimodalNetwork/nodes.json';
import linksData from '../data/bimodalNetwork/links.json';
import audioNodesData from '../data/bimodalNetwork/audioNodes.json';
import audioLinksData from '../data/bimodalNetwork/audioLinks.json';

const pageTitle = "Network Visualization";
const description = "D3.js force simulations appromixation of Yifan Hu Network Layout";

const memberFilter = []
const institutionFilter= ["Bernstein_43 Poets_1985", 
  "Bernstein_Language Sampler_1982", 
  "McGann_Postmodern Poetries_1990", 
  'Messerli_"Language" Poetries_1994', 
  "Silliman_In the American Tree_1986", 
  "Silliman_The Dwelling Place_1975", 
  "Silliman_Realism_1982", 
  "Sloan_Moving Borders_1998",
  "Hoover_Postmodern American Poetry_1994", 
  "Hoover_Postmodern American Poetry_2013",
  "Nelson_Contemporary American Poetry_2015",
  "Ramazani_Contemporary Poetry_2003",
  "Swensen_American Hybrid_2009", 
  "Halpern_The New Poetry Anthology_1975", 
  "Smith_The Morrow Anthology_1985", 
  "Dacey_Strong Measures_1986", 
  "Finch_A Formal Feeling Comes_1994", 
  "Jarman_Rebel Angels_1996", 
  "Richman_The Direction of Poetry_1988", 
  "Elliston", 
  "PennSound", 
  "Voca"
]

const institutionFilter2 = [
  "Hoover_Postmodern American Poetry_1994", 
  "Hoover_Postmodern American Poetry_2013",
  "Nelson_Contemporary American Poetry_2015",
  "Ramazani_Contemporary Poetry_2003",
  "Swensen_American Hybrid_2009", 
  "Halpern_The New Poetry Anthology_1975", 
  "Smith_The Morrow Anthology_1985", 
]

---

<BaseLayout pageTitle={pageTitle} description={description}>
  <p>
    <a href="https://d3js.org/d3-force" target="_blank">D3.js force simulations</a>
    appromixation of Yifan Hu Network Layout
  </p>
  <BimodalNetwork4 
    id="yifan-hu-network"
    nodesData={nodesData}
    linksData={linksData}
    linkDistance={60}
    linkStrength={0.6}
    chargeStrength={-50}
    chargeTheta={0.8}
    chargeDistanceMax={400}
    centerStrength={0.05}
    collisionRadius={5}
    collisionStrength={0.7}
    forceXStrength={null}
    forceYStrength={null}
    alphaDecay={0.04}
    maxIterations={1000}
    rotation={-60}
    height={65}
    bimodalZoomScale={0.8}
    memberNodeRange={[1, 5]}
    institutionNodeRange={[3, 25]}
    memberFontRange={[2, 6]}
    institutionFontRange={[5, 12]}
    clickedNodes={{nodes: ["UbuWeb"], color: "red"}}
  />

  <p>
    Fruchterman Reingold Layout
  </p>
  <BimodalNetwork4 
    id="fruchterman-reingold"
    nodesData={audioNodesData}
    linksData={audioLinksData}
    linkDistance={50}
    linkStrength={0.6}
    chargeStrength={-40}
    chargeTheta={0.8}
    chargeDistanceMax={500}
    centerStrength={null}
    collisionRadius={5}
    collisionStrength={0.7}
    forceXStrength={0.4}
    forceYStrength={0.4}
    alphaDecay={0.04}
    maxIterations={500}
    rotation={-60}
    height={65}
    bimodalZoomScale={0.7}
    memberNodeRange={[1, 5]}
    institutionNodeRange={[15, 30]}
    memberFontRange={[2, 8]}
    institutionFontRange={[10, 18]}
    clickedNodes={{nodes: ["UbuWeb"], color: "red"}}
  />
</BaseLayout>
