---
import BaseLayout from '../layouts/BaseLayout.astro';
import BimodalNetwork from '../components/bimodal-network/BimodalNetwork.astro';
import { Code } from 'astro:components';

// src data
import nodesData from '../data/bimodal-network/nodes.json';
import linksData from '../data/bimodal-network/links.json';
import audioNodesData from '../data/bimodal-network/audio-nodes.json';
import audioLinksData from '../data/bimodal-network/audio-links.json';

const pageTitle = "Network Layouts";
const description = "D3.js force simulations appromixation of Yifan Hu and Fruchterman-Reingold network layouts.";

const memberFilter = []
const institutionFilter= ["Bernstein_43 Poets_1985", 
  "Bernstein_Language Sampler_1982", 
  "McGann_Postmodern Poetries_1990", 
  'Messerli_"Language" Poetries_1994', 
  "Silliman_In the American Tree_1986", 
  "Silliman_The Dwelling Place_1975", 
  "Silliman_Realism_1982", 
  "Sloan_Moving Borders_1998",
  "Hoover_Postmodern American Poetry_1994", 
  "Hoover_Postmodern American Poetry_2013",
  "Nelson_Contemporary American Poetry_2015",
  "Ramazani_Contemporary Poetry_2003",
  "Swensen_American Hybrid_2009", 
  "Halpern_The New Poetry Anthology_1975", 
  "Smith_The Morrow Anthology_1985", 
  "Dacey_Strong Measures_1986", 
  "Finch_A Formal Feeling Comes_1994", 
  "Jarman_Rebel Angels_1996", 
  "Richman_The Direction of Poetry_1988", 
  "Elliston", 
  "PennSound", 
  "Voca"
]

const institutionFilter2 = [
  "Hoover_Postmodern American Poetry_1994", 
  "Hoover_Postmodern American Poetry_2013",
  "Nelson_Contemporary American Poetry_2015",
  "Ramazani_Contemporary Poetry_2003",
  "Swensen_American Hybrid_2009", 
  "Halpern_The New Poetry Anthology_1975", 
  "Smith_The Morrow Anthology_1985", 
]

const institutionFilter3 = [
  "Chester_Rising Tides_1973",
  "Howe_No More Masks!_1973",
  "Iverson_We Become New_1975",
  "Piercy_Early Ripening_1987",
  "Segnitz_Psyche_1973",
]

---

<BaseLayout pageTitle={pageTitle} description={description}>

  <p class="title-page">Bimodal force-directed graphs delineated with D3.js force simulations</p>
  <h4 class="title-page">WITH DIAGRAMS FOR</h4>
  <h3 class="title-page">YIFAN HU & Fruchterman-Reingold</h3>
  
  <p><a href="https://d3js.org/d3-force" target="_blank">D3-force</a> simulates physical forces to arrange the nodes and edges on the SVG canvas.
  For example, it may add spring-like force that pulls and pushes connected nodes while keeping them together, or charge-like forces that simulate attraction or repulsion between nodes.
  The nodes and edges reach an optimal position once these forces stabilize.
  </p>

  <h3 class="title-page">Yifan Hu Layout</h3>

  <p>These forces can be used for a number of things. Below is an appromixation of the <a href="http://yifanhu.net/PUB/graph_draw_small.pdf" target="_blank">Yifan Hu Multilevel</a> layout for clustering.</p>
  
  <BimodalNetwork 
    id="yifan-hu-network"
    nodesData={nodesData}
    linksData={linksData}
    linkDistance={60}
    linkStrength={0.6}
    chargeStrength={-50}
    chargeTheta={0.8}
    chargeDistanceMax={400}
    centerStrength={0.05}
    collisionRadius={5}
    collisionStrength={0.7}
    forceXStrength={null}
    forceYStrength={null}
    alphaDecay={0.04}
    maxIterations={500}
    rotation={-60}
    height={65}
    bimodalZoomScale={1}
    memberNodeRange={[1, 5]}
    institutionNodeRange={[3, 25]}
    memberFontRange={[2, 6]}
    institutionFontRange={[5, 12]}
    clickedNodes={{nodes: institutionFilter3, color: "red"}}
  />

  <p>Yifan HU recommends applying repulsive forces on nodes that are not connected to each other, which helps keep clustered communities spatially distinct.
    This can be achived by increasing the strength of repulsion on the nodes, using the negative charge strength in d3.js <a href="https://d3js.org/d3-force/many-body">many-body force</a>:
  </p>
  <Code 
  code={`
    const manyBody = d3.forceManyBody()
      .strength(-40);
  `}
  lang="js"
  theme="vitesse-light"
/>
  <pre><code></code></pre>
  <p>The Yifan Hu layout is great for community detection as clusters—or close-knit communities—become more distinct.</p>
  <h3 class="title-page">Fruchterman-Reingold Layout</h3>
  <p>These forces can also be useful from a design perspective. In the Yifan Hu layout, nodes spread more naturally based on their connections; however, in Fruchterman-Reingold layout, nodes are actively pulled toward an (x, y) center point, which creates a compact, centered appearance.</p>
  <BimodalNetwork 
    id="fruchterman-reingold"
    nodesData={audioNodesData}
    linksData={audioLinksData}
    linkDistance={50}
    linkStrength={0.6}
    chargeStrength={-40}
    chargeTheta={0.8}
    chargeDistanceMax={500}
    centerStrength={undefined}
    collisionRadius={5}
    collisionStrength={0.7}
    forceXStrength={0.4}
    forceYStrength={0.4}
    alphaDecay={0.04}
    maxIterations={500}
    rotation={-60}
    height={65}
    bimodalZoomScale={0.7}
    memberNodeRange={[1, 5]}
    institutionNodeRange={[15, 30]}
    memberFontRange={[2, 8]}
    institutionFontRange={[10, 18]}
    clickedNodes={{nodes: ["UbuWeb"], color: "red"}}
  />
  <p>In my experience, the set of forces applied in Yifan Hu and Fruchterman-Reingold are not significantly different, except for the <a href="https://d3js.org/d3-force/position" target="_blank">position forces</a> in Fruchterman-Reingold, which are used to push nodes to a specific center point—such as the middle of the SVG canvas.</p>
<Code 
  code={`
    const x = d3.forceX(width / 2)
      .strength(0.4);

    const y = d3.forceY(height / 2)
      .strength(0.4);
  `}
  lang="js"
  theme="vitesse-light"
/>

<p>The difference between Yifan Hu and Fruchterman-Reingold layouts is that the former creates negative space to give shape to the communities while the latter closes this space to distribute the nodes evenly across the SVG canvas, which helps reduce overalapping labels.</p>
</BaseLayout>
