---
import BaseLayout from '../layouts/BaseLayout.astro';
import SearchWord2vecMulti from '../components/search-ui/SearchWord2vecMulti.astro';
// import SimilarityQueryWord2vec from '../components/search-ui/SimilarityQueryWord2vec.astro';
import Filter from '../components/search-ui/Filter.astro';
import FilterButton from '../components/ui/FilterButton.astro';
import Dinkus from '../components/ui/Dinkus.astro';
// src data
import textData from '../data/deleuzian/deleuze-word2vec-documents.json';
import word2vecData from '../data/deleuzian/deleuze-word2vec.json';
import word2vecDataCoordinates from '../data/deleuzian/deleuze-word2vec-coordinates.json';

export const prerender = false;

const pageTitle = "Deleuzian";
const description = "Query search UI for the Deleuze Seminars.";

// Customize these keys to match your data structure
const textFields = {
  author: "author",
  title: "title", 
  date: "date",
  url: "url",
  text: "text",
  container: "containers" // Add this field for journal/container filtering
};
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <p class="title-page">Look up terms and their usage in Gilles Deleuze's lectures</p>
	<h4 class="title-page">QUERY SEARCH UI FOR</h4>
	<h3 class="title-page"><a href="https://deleuze.cla.purdue.edu/seminars/" target="_blank">THE DELEUZE SEMINARS</a></h3>
	<Dinkus count={3}></Dinkus>
  <p>Enter one or more keywords below. Phrase level search is not supported.</p>
  <!-- <h3>Query Search UI for
    <a href="https://deleuze.cla.purdue.edu/seminars/" target="_blank">the Deleuze Seminars</a>
  </h3> -->
  <SearchWord2vecMulti 
    word2vecData={word2vecDataCoordinates}
  />
  <Dinkus count={1}></Dinkus>

  <FilterButton 
    targetContainer="#filter-container"
  />
  <Filter 
    textData={textData}
    word2vecData={word2vecData}
    textFields={textFields}
  />
  <Dinkus count={1}></Dinkus>
  <h3>Rationale</h3>
  <p>Imagine you had an index for all of Gilles Deleuze's lecture transcripts. Reading these lectures could take hundreds of hours, but you could use this keyword index to quickly search for conceptual terms across the corpus. <i>Deleuzian</i> does exactly that, and more. You can retrieve paragraphs containing your search terms and discover how these concepts are used throughout Deleuze's philosophical works. Whether you're tracking a specific concept or trying to grasp Deleuze's terminology, this tool helps filter the corpus and extract pertinent passages, making the lectures accessible for both seasoned scholars and novice readers.</p>
  <p>But do we really need to do all this to read his works? Deleuze himself once said that you don't have to be a Deleuzian to understand his work—even a surfer casually reading his books could find his concepts useful.</p>
  <p>Well, anyone who has read Deleuze knows that his works are deeply singular and intratextual. Deleuze borrowed terms from many disciplines, but gave them his own conceptual valence. He also developed the same concepts across multiple works, with their meanings shifting throughout his ouevre. The keyword-vector pairing offers an efficient method for tracking what Deleuze meant by a term in a particular lecture and how that meaning evolved as he refined these concepts through subsquent discussions with students.</p>
  <p><i>Deleuzian </i>makes it easier to trace these semantic shifts and follow the trajectory of Deleuze's concepts as they evolve across his lectures.</p>
  <Dinkus count={3}></Dinkus>
</BaseLayout>