---
import BaseLayout from '../layouts/BaseLayout.astro';
import SearchWord2vec1 from '../components/SearchWord2vec1.astro';
import SimilarityQueryWord2vec from '../components/SimilarityQueryWord2vec.astro';
import textData from '../data/deleuze/deleuzeWord2vecDocuments.json';
import word2vecData from '../data/deleuze/deleuzeWord2vec.json';
import word2vecDataCoordinates from '../data/deleuze/deleuzeWord2vecCoordinates.json';  

export const prerender = false;

const pageTitle = "Deleuzian";
const description = "Query search UI for the Deleuze Seminars.";

// You can customize these keys to match your data structure
const textFields = {
  author: "author",
  title: "title",
  date: "date",
  url: "url",
  text: "text"
};
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <h3>Query Search UI for
    <a href="https://deleuze.cla.purdue.edu/seminars/" target="_blank">the Deleuze Seminars</a>
  </h3>
  <SearchWord2vec1 
    word2vecData={word2vecDataCoordinates} 
  />
  <SimilarityQueryWord2vec 
    textData={textData} 
    word2vecData={word2vecData} 
    textFields={textFields}
  />
</BaseLayout>
