---
import BaseLayout from '../layouts/BaseLayout.astro';
import SearchWord2vec from '../components/searchUi/SearchWord2vec.astro';
import SimilaritySearchWord2vec from '../components/searchUi/SimilaritySearchWord2vec.astro';

// src data
import textData from '../data/deleuzian/theDeleuzeSeminars.json';
import word2vecData from '../data/deleuzian/deleuzeWord2vec.json';
import word2vecDataCoordinates from '../data/deleuzian/deleuzeWord2vecCoordinates.json';

export const prerender = false;

const pageTitle = "Deleuzian";
const description = "In-text search UI for the Deleuze Seminars.";

// You can customize these keys to match your data structure
const textFields = {
  author: "author",
  title: "title",
  date: "date",
  url: "url",
  text: "text"
};
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <h3>Similarity Search UI for
    <a href="https://deleuze.cla.purdue.edu/seminars/" target="_blank">the Deleuze Seminars</a>
  </h3>
  <SearchWord2vec 
    word2vecData={word2vecDataCoordinates} 
  />

  <SimilaritySearchWord2vec 
    textData={textData}
    word2vecData={word2vecData}
    textFields={textFields}
  />
</BaseLayout>
