---
import BaseLayout from '../layouts/BaseLayout.astro';
import SelectedPosts from '../components/SelectedPosts.astro';
import SelectedPosts1 from '../components/SelectedPosts1.astro';
// const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
import UiShowcase from '../components/UiShowcase.astro';
const {frontmatter } = Astro.props;
const pageTitle = "Digital Archaeology"
const description = "Of Stratas and Historical Formations"
const index = 'digitalArchaeology'
---
<BaseLayout pageTitle={pageTitle} description={description}>
    <p>This is where I will post about my journey learning Astro.</p>

    <div class="selected-posts">
        <SelectedPosts1 
            frontmatter={frontmatter} 
            index={index} 
        />
    </div>

    <div class="selected-posts">
        <SelectedPosts 
            frontmatter={frontmatter} 
            index={index} 
        />
    </div>

    <UiShowcase 
        pageTitle="Network"
        description="D3.js force simulations appromixation of Yifan Hu Network Layout"
        imageUrl="/images/yifanhu1.png"
        imageAlt="The Astro logo on a dark background with a pink glow"
        srcPath="/bimodalNetwork4"
    />
    <UiShowcase 
        pageTitle="Network"
        description="D3.js force simulations appromixation of Yifan Hu Network Layout"
        imageUrl="/images/yifanhu2.png"
        imageAlt="The Astro logo on a dark background with a pink glow"
        srcPath="/bimodalNetwork4"
    />
    <UiShowcase 
        pageTitle="Network"
        description="Convert bimodal networks to unimodal networks for depicting centrality measurements"
        imageUrl="/images/unimodal1.png"
        imageAlt="The Astro logo on a dark background with a pink glow"
        srcPath="/bimodalNetwork4"
    />
    <UiShowcase 
        pageTitle="Network"
        description="Convert bimodal networks to unimodal networks for depicting centrality measurements"
        imageUrl="/images/unimodal2.png"
        imageAlt="The Astro logo on a dark background with a pink glow"
        srcPath="/bimodalNetwork4"
    />


</BaseLayout> 

