---
import BaseLayout from '../layouts/BaseLayout.astro';
import Note from '../components/ui/Note.astro';
import SelectedPosts from '../components/ui/SelectedPosts.astro';
import UiShowcase from '../components/ui/UiShowcase.astro';
import Figure from '../components/ui/Figure.astro';
import {Image} from "astro:assets";
import Dinkus from '../components/ui/Dinkus.astro';


// src image


const {frontmatter } = Astro.props;
const pageTitle = "Digital Archaeology"
const description = "A networked approach to literary formations, with diagrams for layouts, partitioins, and centralities."
const index = 'digital-archaeology'

// src image
import yifanhuImage from "../assets/images/digital-archaeology/yifanhu.png"
import languageImage from "../assets/images/digital-archaeology/post45-language-writing.jpg"
import betweennessImage from "../assets/images/digital-archaeology/betweenness.png"
---
<BaseLayout pageTitle={pageTitle} description={description}>
    <p class="title-page">A networked approach to literary formations</p>
    <h4 class="title-page">WITH DIAGRAMS FOR</h4>
    <h3 class="title-page">LAYOUTS, PARTITIONS, AND CENTRALITIES</h3>
    <Dinkus count={3}></Dinkus>

    <Note>
    	<p><b>Network</b>An archive is a collection of statements and actions—what actors say and do.
            A networked approach to literary formations maps the forces of attraction and repulsion that are organized around these statements and actions.
		</p>
    </Note>
    <UiShowcase 
        pageTitle="~Layouts~"
        description="D3.js force simulations appromixation of Yifan Hu and Fruchterman-Reingold network layouts."
        imageUrl={yifanhuImage}
        imageAlt="Network layout"
        srcPath="/bimodal-network-yifanhu"
    />
    <UiShowcase 
        pageTitle="~Partitions~"
        description="Partition a network graph to ascertain the degree of coherence in sub-networks."
        imageUrl={languageImage}
        imageAlt="Network partition"
        srcPath="/bimodal-network-partitions"
    />

    <UiShowcase 
        pageTitle="~Centralities~"
        description="Convert bimodal networks to unimodal networks for depicting centrality measurements"
        imageUrl={betweennessImage}
        imageAlt="The Astro logo on a dark background with a pink glow"
        srcPath="/bimodal-network-centrality"
    />

    <Dinkus count={1}></Dinkus>
    <Note>
    	<p><b>Archive</b>An archive is a collection of statements and actions—what actors say and do.
            A networked approach to literary formations maps the forces of attraction and repulsion that are organized around these statements and actions.
		</p>
    </Note>
    <!-- <SelectedPosts 
        frontmatter={frontmatter} 
        index={index} 
    /> -->

    <Dinkus count={3}></Dinkus>
</BaseLayout> 

