---
import BaseLayout from '../layouts/BaseLayout.astro';
import SelectedPosts from '../components/ui/SelectedPosts.astro';
import UiShowcase from '../components/ui/UiShowcase.astro';
const {frontmatter } = Astro.props;
const pageTitle = "Digital Archaeology"
const description = "Of Stratas and Historical Formations"
const index = 'digitalArchaeology'

import yifanhuImage from "../assets/images/digitalArchaeology/yifanhu.png"
import betweennessImage from "../assets/images/digitalArchaeology/betweenness.png"
---
<BaseLayout pageTitle={pageTitle} description={description}>
    <p>This is where I will post about my journey learning Astro.</p>

    <SelectedPosts 
        frontmatter={frontmatter} 
        index={index} 
    />

    <SelectedPosts 
        customPosts={[
            { url: '/posts/digitalFormalism/DigitalFormalism-1-Intro', 
            frontmatter: { 
                title: 'Post 1', 
                description: 'Description 1' 
            }},
        ]}
        customTitle="~digital formalism~"
        customHref="/digitalFormalism/"
    />

    <SelectedPosts 
        customPosts={[
            { url: '/posts/digitalFormalism/DigitalFormalism-1-Intro', 
            frontmatter: { 
                title: 'Intro: Verse and Speech', 
                description: 'Difference between verse and speech is a defining point of aesthetics' 
            }},
        ]}
        customTitle="Featured Posts"
    />

    <SelectedPosts 
        frontmatter={frontmatter} 
        index={index} 
    />

    <UiShowcase 
        pageTitle="~Yifan Hu Layout~"
        description="D3.js force simulations appromixation of Yifan Hu Network Layout"
        imageUrl={yifanhuImage}
        imageAlt="The Astro logo on a dark background with a pink glow"
        srcPath="/bimodalNetwork2"
    />

    <UiShowcase 
        pageTitle="~Betweenness~"
        description="Convert bimodal networks to unimodal networks for depicting centrality measurements"
        imageUrl={betweennessImage}
        imageAlt="The Astro logo on a dark background with a pink glow"
        srcPath="/bimodalNetwork1"
    />



</BaseLayout> 

