---
import BaseLayout from '../layouts/BaseLayout.astro';
import SelectedPosts from '../components/ui/SelectedPosts.astro';
import UiShowcase from '../components/ui/UiShowcase.astro';
const {frontmatter } = Astro.props;
const pageTitle = "DIGITAL ARCHAEOLOGY"
const description = "Of Stratas and Historical Formations"
const index = 'digital-archaeology'

import yifanhuImage from "../assets/images/digital-archaeology/yifanhu.png"
import betweennessImage from "../assets/images/digital-archaeology/betweenness.png"
---
<BaseLayout pageTitle={pageTitle} description={description}>
    <p class="title-page">Networked approaches to stratas and historical formations</p>
    <h4 class="title-page">WITH DIAGRAMS FOR</h4>

    <h3 class="title-page">LAYOUTS, PARTITIONS, AND CETNRALITIES</h3>

    <p>This is where I will post about my journey learning Astro.</p>

    <SelectedPosts 
        frontmatter={frontmatter} 
        index={index} 
    />

    <SelectedPosts 
        customPosts={[
            { url: '/posts/digital-formalism/digital-formalism-1-intro', 
            frontmatter: { 
                title: 'Post 1', 
                description: 'Description 1' 
            }},
        ]}
        customTitle="~digital formalism~"
        customHref="/digital-formalism/"
    />

    <SelectedPosts 
        customPosts={[
            { url: '/posts/digital-formalism/digital-formalism-1-intro', 
            frontmatter: { 
                title: 'Intro: Verse and Speech', 
                description: 'Difference between verse and speech is a defining point of aesthetics' 
            }},
        ]}
        customTitle="Featured Posts"
    />

    <SelectedPosts 
        frontmatter={frontmatter} 
        index={index} 
    />

    <UiShowcase 
        pageTitle="~Yifan Hu Layout~"
        description="D3.js force simulations appromixation of Yifan Hu Network Layout"
        imageUrl={yifanhuImage}
        imageAlt="The Astro logo on a dark background with a pink glow"
        srcPath="/bimodal-network-yifanhu"
    />

    <UiShowcase 
        pageTitle="~Betweenness~"
        description="Convert bimodal networks to unimodal networks for depicting centrality measurements"
        imageUrl={betweennessImage}
        imageAlt="The Astro logo on a dark background with a pink glow"
        srcPath="/bimodal-network-centrality"
    />



</BaseLayout> 

