---
import BaseLayout from '../layouts/BaseLayout.astro';
import SelectedPosts from '../components/ui/SelectedPosts.astro';
import Note from '../components/ui/Note.astro';
import UiShowcase from '../components/ui/UiShowcase.astro';
import BlockquoteWithFootnote from '../components/ui/BlockquoteWithFootnote.astro';
import Footnote from '../components/ui/Footnote.astro';
import Dinkus from '../components/ui/Dinkus.astro';

const pageTitle = "Digital Formalism"
const description = "Audio visualization"
const index = 'digital-formalism'
const {frontmatter } = Astro.props;
//src image
import poemaImage from "../assets/images/digital-formalism/poema.png"
---

<BaseLayout pageTitle={pageTitle} description={description}>
    <p class="title-page">A rhizomatic approach to sound analytics and visualization</p>
    <h4 class="title-page">WITH DIAGRAMS FOR</h4>
    <h3 class="title-page">AUDIO VISUALIZATION, <br>ANNOTATION, <br>& TRANSCRIPTION</h3>
    <Dinkus count={3}></Dinkus>
    <Note>
		<p><b>Rhythm - </b>Though verse rhythm is often associated with repetition and regularity, it is shaped more deeply by the alternation of tones and the variation of phrasing. 
			This calls for a prosodic model that combines empirical precision and musical sensitivity.
		</p>
	</Note>
    <UiShowcase 
        pageTitle="~Poema~"
        description="Poema implements Praat display on the browser, and it extends the Tones and Breaks Indices (ToBI) framework by including beats and text to analyze rhythm and phrasing of spoken verse."
		imageUrl= {poemaImage}
        imageAlt="Audio visualization and annotation of The Red Wheelbarrow"
        srcPath="/poema-spectrogram"
    />
    
    <p>Check out <a href="../poema-spectrogram" target="_blank">Poema</a>, an analytics and visualization platform for versification that we built to move between acoustic observations and rhythmic analysis. Learn more about Poema's underlying aesthetics in the <a href="../posts/digital%20formalism" target="_blank">blog posts</a>.</p>

    <Note>
		<p><b>As is music, so is poetry - </b>not just as an analogy, but as a question worth pondering: namely, when does voice become rhythmic? <em>Ut musica poesis!</em></p>
	</Note>
    <SelectedPosts 
        frontmatter={frontmatter} 
        index={index} 
    />
    <Dinkus count={1}></Dinkus>

    <h3>Why Rhythm?</h3>
    <p>When we ask how to read poetry, we rarely mean, how to recite it. Aristotle famously said that spoken verse or recitation does not differentiate poetry from philosophy because both could be presented in metrical forms. In Aristotle's time, spoken verse was not used exclusively for poetic performance.</p>
    <p>In modern prosody, we rarely refer to recitation or spoken verse when we discussing rhythm or melody, relying mostly on hypothesis or imagination.</p>
    <p>Since we do not have a proper tool to model spoken verse and its musical features based on a poet's recitation, we developed a makeshift one ourselves.</p>
    <p>Rhythm is often understood as repetition and regularity—specifically, repetition of a pattern in regular intervals. Prosody accounts for variations in the pattern or deviations in length, but often cosiders them as aberrations from a pre-established template.</p>
    <p>How do we account for this type of inequality in verse? Rather than calling it non-metrical, Gilles Deleuze and Félix Guattari contend that we make these inequalities as the rule and not the exception.</p>
    <BlockquoteWithFootnote
        text='How can one proclaim the constituent inequality of rhythm while at the same time admitting implied vibrations, periodic repetitions of components? A milieu does in fact exist by virtue of a periodic repetition, but one whose only effect is to produce a difference by which the milieu passes into another milieu. It is the difference that is rhythmic, not the repetition, which nevertheless produces it: productive repetition has nothing to do with reproductive meter. This is the “critical solution of the antinomy.”'
        cite="Gilles Deleuze and Félix Guattari"
        id="1"
  	/>
    <p>Speech passes through different milieux due to alternating vibrations across varying intervals, and Deleuze and Guattari call for a rhizomatic method that can capture this type of movement.</p>
    <p>At what point does speech become rhythmic? Poema helps explore this question by modeling rhythm through both empirical analysis and aesthetic approaches.</p>

    	<!-- FOOTNOTES SECTION -->
	<footer class="footnotes">
        <hr/>
		<ol>
			<Footnote id="1" content='Gilles Deleuze and Félix Guattari, <i>A Thousand Plateaus: Capitalism and Schizophrenia</i>, trans. Brian Massumi (Minneapolis: University of Minnesota Press), 314.' />

		</ol>
	</footer>
    <Dinkus count={3}></Dinkus>


</BaseLayout>