---
import BaseLayout from '../layouts/BaseLayout.astro';
import Note from '../components/ui/Note.astro';
import SelectedPosts from '../components/ui/SelectedPosts.astro';
import UiShowcase from '../components/ui/UiShowcase.astro';
import BlockquoteWithFootnote from '../components/ui/BlockquoteWithFootnote.astro';
import Superscript from '../components/ui/Superscript.astro';
import Footnote from '../components/ui/Footnote.astro';
import Figure from '../components/ui/Figure.astro';
import {Image} from "astro:assets";
import Table from '../components/ui/Table.astro';
const pageTitle = "Diagrammatic Readings"
const desription = "The graphical expressions turn matter and form of content into materials and forces, and we propose a diagrammatic approach that renders these materials and forces visible.";

// src image
import druckerImage from "../assets/images/home/drucker-inflection.jpg"
import poemaImage from "../assets/images/digitalFormalism/poema.png"
---
<BaseLayout pageTitle={pageTitle} description={desription}>
	<Note>
		<p><b><em>Rhythm - </em></b>Though verse rhythm is often associated with repetition and regularity, it is shaped more deeply by the alternation of tones and the variation of phrasing. 
			This calls for a prosodic model that combines scientific precision and musical sensitivity.
		</p>
	</Note>
	<UiShowcase 
        pageTitle="~Poema~"
        description="Poema implements Praat display in the browser and extends the Tones and Breaks Indices (ToBI) framework by incorporating beats and text to analyze the rhythm and phrasing of spoken verse."
		imageUrl= {poemaImage}
        imageAlt="Audio visualization and annotation of The Red Wheelbarrow"
        srcPath="/poema2"
    />
	<Note>
		<p><b><em>As is music, so is poetry - </em></b>not just as an analogy, but as a question worth pondering: namely, when does voice become rhythmic? <em>Ut musica poesis!</em></p>
	</Note>
	<SelectedPosts 
		customPosts={[
			{ url: '/posts/digitalFormalism/DigitalFormalism-1-Intro', 
			frontmatter: { 
				title: 'Intro: Verse and Speech', 
				description: 'Difference between verse and speech is a defining point of aesthetics' 
			}},
		]}
		customTitle="Featured Post"
	/>
	<h3>Why Diagrams?</h3>
	<p>
	   Digital and computational tools we use for analytics of aesthetic content are typically not developed to model its matter and form.
		When borrowing from technical and scientific domains,
	   how might we adapt these tools to model artistic practices?
	</p>
	<p>
	   More specifically, as researchers across the humanities and arts are increasingly turning to these tools, 
	   how might we repurpose them for humanistic research?
	</p>
	<p>
		Digital humanists and data science scholars have proposed methods such as 
		pursuing novel algorithms to model cultural objects,<Superscript id="1" />
		building mixed-methods research frameworks,<Superscript id="2" />
		or advancing critically informed analytical practices.<Superscript id="3" />
	</p>
	<p>
		We take cue from Johanna Drucker, who suggests that these interventions should be made on the diagrammatic plane.
	</p>
	<BlockquoteWithFootnote
    text="An act of creating an inflection, adding an attribute, or making a change in a graph would feed back into the structured data. This would create data and could also intervene in the formal structures of the data, even changing its structure."
    cite="Johanna Drucker"
    id="4"
  	/>

	<p>
		In fig. 1, Drucker gives a sketch of &ldquo;creating an inflection&rdquo; on the network graph.
		According to the top right figure, more than one centrality measurements could be rendered on each node, e.g.,
		shading for degree centrality, brightness for eigenvector centrality, and glow for betweenness centrality.
	</p>

	<Figure>
		<Image slot="image"
			src={druckerImage}
			alt="Drucker's sketch of inflection in network graphs"
			class="responsive-image"
			layout="constrained"
		/>
	  	<span slot="caption">
			Figure 1: Drucker's sketch of inflection in network graphs.<Superscript id="5" />
		</span>
  	</Figure>

	<p>
		Here, Drucker is proposing a comparative approach to analytics, namely,
		how does the node behave in a network when rendered with different centrality measurements?
		AlthoughDrucker's sketch is not practically feasible––the nodes will be visually cluttered if all three measurements are rendered at once, 
		but more about this later––it still illustrates the virtuality of graphical expressions.
	</p>

	<h3>
		Materials and forces of graphical expressions
	</h3>

	<p>
		The graphical expressions turn matter and form of content into materials and forces,
		and we propose a diagrammatic approach that renders these materials and forces visible.
	</p>

	<Table
	title="Matter and Form of Content and Expression"
	columns={["Matter", "Form"]}
	rows={[
		{
		rowHeader: "Content",
		cells: ["person and place", "inclusion and exclusion"]
		},
		{
		rowHeader: "Expression",
		cells: ["co-presence", "closeness and betweenness"]
		}
	]}
	/>

	<p>
		As we repurpose these techniques for humanistic research,
		what are the affordances of &ldquo;creating an inflection, adding an attribute, or making a cange in a graph&rdquo; for modeling aesthetic content?
	</p>


	<!-- FOOTNOTES SECTION -->
	<footer class="footnotes">
		<hr />
		<ol>
			<Footnote id="1" content='Franco Moretti, ed., <i>Canon/Archive: Studies in Quantative Formalism from the Stanford Literary Lab</i> (New York: n+1 Books, 2017).' />
			<Footnote id="2" content='Richard Jean So, <i>Redlining Culture: A Data History of Racial Inequality and Postwar Fiction</i> (New York: Columbia University Press, 2021).' />
			<Footnote id="3" content="Catherine D'Ignazio and Lauren Klein, <a href='https://data-feminism.mitpress.mit.edu/'><i>Data Feminism</i></a> (Cambridge, MA: MIT Press, 2020)." />
			<Footnote id="4" content='Johanna Drucker, <i>Visualization and Interpretation: Humanistic Approaches to Display</i> (Cambridge, MA: MIT Press, 2020), 2-3' />	
			<Footnote id="5" content='Ibid., 148.' />	
		</ol>
		<hr />
	</footer>
	</BaseLayout>