---
const { pages =[], label, links = [], pagesPosition = 'above' } = Astro.props;
---
{pagesPosition === 'above' && pages.map((page: { href: string, text: string }) => (
  <a href={page.href}>{page.text}</a>
))}

<details>
    <summary>
        {label}
        <span class="arrow"></span>
    </summary>
    {links.map((link: {href: string, text: string}) => (
        <a href={link.href}>{link.text}</a>
    ))}
</details>

{pagesPosition === 'below' && pages.map((page: { href: string, text: string }) => (
  <a href={page.href}>{page.text}</a>
))}

<style>
a, details summary {
  cursor: pointer;
  display: flex;
  align-items: center;
  /* gap: 1rem; */
  /* padding-left: 1.5rem; */
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  text-decoration: none;
}

summary::-webkit-details-marker {
  display: none;
}

html.dark details {
  color: var(--dark-text);
}
html.light details {
  /* color: var(--light-text); */
  color: var(--light-text);
}

.arrow {
  display: inline-block;
  transition: transform 0.2s;
  border: solid var(--light-text);
  border-width: 0 2px 2px 0;
  padding: 3px;
  margin-left: 4px;
  transform: rotate(-45deg);
}

html.dark .arrow {
  display: inline-block;
  transition: transform 0.2s;
  border: solid var(--dark-text);
  border-width: 0 2px 2px 0;
  padding: 3px;
  margin-left: 4px;
  transform: rotate(-45deg);
}

details[open] .arrow {
  transform: rotate(45deg);
}

details > a {
  display: block;
  padding-left: 2rem;
  text-decoration: none;
  text-align: left;
  font-size: 1rem;
  font-weight: normal;
  padding-top: 0rem;
}


</style>