---
const { pages =[], label, links = [], pagesPosition = 'above' } = Astro.props;
---
{pagesPosition === 'above' && pages.map((page: { href: string, text: string }) => (
  <a href={page.href}>{page.text}</a>
))}

<details>
    <summary>
        {label}
        <span class="arrow"></span>
    </summary>
    {links.map((link: {href: string, text: string}) => (
        <a href={link.href}>{link.text}</a>
    ))}
</details>

{pagesPosition === 'below' && pages.map((page: { href: string, text: string }) => (
  <a href={page.href}>{page.text}</a>
))}

<style>
a, details summary {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  text-decoration: none;
}
.arrow {
  display: inline-block;
  transition: transform 0.2s;
  border: solid #333;
  border-width: 0 2px 2px 0;
  padding: 3px;
  margin-left: 4px;
  transform: rotate(-45deg);
}
details[open] .arrow {
  transform: rotate(45deg);
}
details > a {
  display: block;
  padding-left: 1rem;
  text-decoration: none;
  text-align: left;
  font-size: 1rem;
  font-weight: normal;
  padding-top: 0rem;
}

details a:hover,
details a:focus {
  color: goldenrod
}
</style>