---
import BlogPost from './BlogPost.astro';
const {frontmatter, index } = Astro.props;
const isIndexActive = Astro.url.pathname === `/${index}/`;

// selected posts
const allPosts = Object.values(import.meta.glob('../pages/posts/*.md', { eager: true }));
// const allPosts = Object.values(import.meta.glob('../pages/posts/*.md', { eager: true }));
// const selectedPosts = allPosts.filter((post:any) =>
//     post.frontmatter?.tags?.includes(frontmatter.tags[0])
// )

// const currentIndex = Astro.props.frontmatter.index;
const selectedPosts = allPosts.filter((post:any) =>
    post.frontmatter?.index === index
)

---
 <!-- Blog posts -->
<ul>
    <li>
        <a href={`/${index}/`} 
            class={isIndexActive ? 'active' : ''}
            >{frontmatter?.tags?.[0] ?? 'Index'}</a>
    </li>
</ul>


<ul>
    {selectedPosts.map((post: any) => 
    <BlogPost 
        url={post.url} 
        title={post.frontmatter.title} 
        description={post.frontmatter.description}/>)}
</ul>

<style>
    li {
        list-style: square;
    }

    li::marker {
        color: var(--hover-color);
    }

    li:has(> a.active)::marker {
        color: var(--highlight-color);
    }

    a {
        text-decoration: none;
        /* padding: 0 0 0 2rem; */
        /* margin-top: 2rem; */
        color: var(--light-text);
    }

    a:hover, a:focus {
        color: var(--hover-color);
    }

    a.active {
        font-weight: bold;
        color: var(--highlight-color);
        /* border-bottom: var(--border-color); */
    }
    html.dark a.active {
        color: var(--highlight-color);
    }

    html.dark a {
        color: var(--dark-text);
    }

    html.dark a:hover, html.dark a:focus {
        color: var(--hover-color);
    }
</style>