---
import SelectedPosts from "../components/SelectedPosts.astro";
const { index, frontmatter } = Astro.props;
---

<div class="front-matter">
    <!-- <div class="front-matter-left">
        <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
        <div class="byline">
            <p>BY {frontmatter.author},</p>
            <p>{new Date(frontmatter.pubDate).toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })}</p>
        </div>
        <div class="tags">
            {frontmatter.tags.map((tag: string) => (
                <p class="tag"><a href={`/tags/${tag}`}>#{tag}</a></p>
            ))} 
        </div>
    </div> -->
    <!-- Posts with the first tag -->
    <div class="selected-posts">
        <SelectedPosts 
            frontmatter={frontmatter} 
            index={index} 
        />
    </div>
</div>

<style>
    /* blog posts */
    .selected-posts {
        margin-top: 1rem;
    }

    ul {
        list-style: none;
        padding: 0;
        border: 1px solid red;
    }

    @media screen and (min-width: 636px) {
        img {
            width: 100%;
            height: auto;
            /* padding: 0 2rem 0 2rem; */
        }
        .front-matter {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .selected-posts {
            min-width: 12rem;
            /* padding: 0 2rem 0 2rem; */
        }
        
    }
</style>