---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro"
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
import faviconSrc from "../assets/images/favicon/DR.png";

interface Props {
	pageTitle?: string;
	description?: string;
}
const { pageTitle, description } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href={faviconSrc.src} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<!-- for preloading libraries and data files -->
		<link rel="preload" href="/fonts/IMFellEnglish-Regular.woff2" as="font" type="font/woff2" crossorigin>
		<slot name="head" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<Navigation />
		<div class="layout">
			<main>
				<p class="page-title">{pageTitle}</p>
				<slot />
			</main>
		</div>
		<Footer/>
		<script>
			import "../scripts/menu.js"
		</script>
	</body>
</html>

<style>
.layout {
    display: block;
    /* min-height: 80vh; */
	padding: 3.2rem 1rem 0 1rem;
}

main {
	max-width: 90vw;
	margin: 0 auto;
}

.page-title {
  text-align: left;
  font-size: 2rem;
  font-weight: normal;
  max-width: 100%;
  line-height: 1.1;
}
@media screen and (min-width: 636px) {
  .layout {
		display: flex;
    	min-height: 80vh;
		padding: 3.2rem 1rem 0 1rem;

  }

  main {
	/* max-width: 55vw; */
	max-width: 70vw;
	/* margin: 0 1rem 0 1rem; */
	/* margin: 0 auto; */
	margin: 3rem 15vw 0 15vw;
  }

  .page-title {
    font-size: 3rem;
	font-weight: normal;
	max-width: 90%;
	line-height: 1.1;

  }
}


/* .layout > header, .layout > Header {
    flex-shrink: 0;
} */

</style>
