---
import BaseLayout from "./BaseLayout.astro";
import SelectedPosts from "../components/SelectedPosts.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title} description=`${frontmatter.description} + ${frontmatter.tags}`>
     <!-- front matter -->
    <div class="front-matter">
        <div class="front-matter-left">
            <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
            <div class="byline">
                <p>BY {frontmatter.author},</p>
                <p>{new Date(frontmatter.pubDate).toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })}</p>
            </div>
            <div class="tags">
                {frontmatter.tags.map((tag: string) => (
                    <p class="tag"><a href={`/tags/${tag}`}>#{tag}</a></p>
                ))} 
            </div>
        </div>
        <!-- Posts with the first tag -->
        <div class="selected-posts">
            <SelectedPosts 
                frontmatter={frontmatter} 
                index={frontmatter.index} 
            />
        </div>
    </div>
    <slot />

</BaseLayout>

<style>

    /* front matter */
    img {
        max-width: 100%;
        height: auto;
        /* padding: 0 0.5rem 0 0.5rem; */
    }

    .byline p{
        display: inline-block;
        /* padding: 1rem 0 0 0; */
        margin: 1rem 0 0 0;
    }
    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0 0 0 0;
        /* border: dotted 1px #a1a1a1; */
        /* border-radius: .5rem; */
        padding: 0 0.5rem 0 0;
        font-size: 1rem;
        /* background-color: #F8FCFD; */
    }

    .tags a {
        text-decoration: none;
        color: var(--light-text);
    }

    .tags a:hover, .tags a:focus {
        color: var(--hover-color);
    }

    html.dark .tags a{
        color: var(--dark-text);
    }

    .tags a:hover, .tags a:focus {
        color: var(--hover-color);
    }

    html.dark .tags a:hover,
    html.dark .tags a:focus {
        color: var(--hover-color);
    }


    /* blog posts */
    .selected-posts {
        margin-top: 1rem;
    }

    ul {
        list-style: none;
        padding: 0;
        border: 1px solid red;
    }

    @media screen and (min-width: 636px) {
        img {
            width: 100%;
            height: auto;
            /* padding: 0 2rem 0 2rem; */
        }
        .front-matter {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .selected-posts {
            min-width: 12rem;
            /* padding: 0 2rem 0 2rem; */
        }
        
    }


</style>
