---
import BaseLayout from "./BaseLayout.astro";
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <!-- <p><em>{frontmatter.pubDate.toString()}</em></p> -->
     <!-- front matter -->
    <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
    
    <div class="byline">
        <p>BY {frontmatter.author},</p>
        <!-- <p>{frontmatter.pubDate.toString().slice(0,10)}</p> -->
        <p>{new Date(frontmatter.pubDate).toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })}</p>
    </div>

    <div class="tags">
        {frontmatter.tags.map((tag: string) => (
            <p class="tag"><a href={`/tags/${tag}`}>#{tag}</a></p>
        ))} 
    </div>

    <slot />

   
    <!-- Blog posts -->
    <p>Posts in {frontmatter.title}</p>

    <ul>
      {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
    <ul>test</ul>
</BaseLayout>

<script>
//   import { Astro } from 'astro';
  const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
  console.log(allPosts);
</script>
<style>

    /* front matter */
    img {
        max-width: 100%;
        height: auto;
        /* padding: 0 0.5rem 0 0.5rem; */
    }

    .byline p{
        display: inline-block;
        /* padding: 1rem 0 0 0; */
        margin: 1rem 0 0 0;
    }
    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0 0 0 0;
        /* border: dotted 1px #a1a1a1; */
        /* border-radius: .5rem; */
        padding: 0 0.5rem 0 0;
        font-size: 1rem;
        /* background-color: #F8FCFD; */
    }

    .tag a {
        text-decoration: none;
        color: var(--light-text);
    }

    html.dark .tag a{
        color: var(--dark-text);
    }

    .tags a:hover, .tags a:focus {
        color: var(--hover-color);
    }

    /* blog posts */
    ul {
        list-style: none;
        padding: 0;
        border: 1px solid red;
    }

    @media screen and (min-width: 636px) {
        img {
            max-width: 90%;
            height: auto;
            /* padding: 0 2rem 0 2rem; */
        }
        
    }


</style>
