---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <p><em>{frontmatter.pubDate.toString()}</em></p>
    <p>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>

    <p>Written by {frontmatter.author}</p>

    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

    <div class="tags">
        {frontmatter.tags.map((tag: string) => (
            <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))} 
    </div>

    <slot />
</BaseLayout>

<style>
    
    .tags {
        display: flex;
        flex-wrap: wrap;
    }
    .tag {
        margin: 0.25rem;
        /* border: dotted 1px #a1a1a1; */
        /* border-radius: .5rem; */
        padding: .5rem .5rem;
        font-size: 1.15rem;
        /* background-color: #F8FCFD; */
    }

    html.dark .tag {
        color: var(--dark-text);
    }
</style>
