---

const { platform, username } = Astro.props;
---

<!-- <a href={`https://www.${platform}.com/${username}`}><i class="{`fab fa-${platform}`}"></i>{platform}</a> -->

<a href={`https://www.${platform}.com/${username}`} target="_blank">
    <!-- <AstroImage 
        src={iconSrc}
        alt={`${platform} logo`}
        width={30} 
        height={30}
    /> -->
  <!-- <img src={`/favicon/${platform}.svg`} width="30" height="30" /> -->
   <slot />
</a>


<style>
a {
    /* padding: 0.5rem 1rem; */
    /* display: inline-block; */
    color: var(--light-text);
    text-decoration: none;
    padding: 0 0.1rem;
}

html.dark a {
    color: var(--dark-text);
}
html.light a {
    color: var(--light-text);
}
</style>